@import 'fonts.css';
$centerWidth:1280px;
$orange-1:#ff8e00;
$blue-1:#211061;
$black-1:#3d3d3d;
body {
	font: 12px/18px 'OpenSansRegular', sans-serif;
	width: 100%;
}

:focus {
	outline: none;
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		color: $color;
	}
	&::-moz-placeholder {
		/* Firefox 19+ */
		color: $color;
	}
	&:-ms-input-placeholder {
		/* IE 10+ */
		color: $color;
	}
	&:-moz-placeholder {
		/* Firefox 18- */
		color: $color;
	}
}

@mixin center() {
	width: $centerWidth;
	margin: 0 auto;
	box-sizing: border-box;
	//height: 100%;
}

@mixin button($w, $h) {
	width: $w;
	height: $h;
	padding: 16px 0 16px 0;
	font-family: 'OpenSansSemiBold';
	box-sizing: border-box;
	text-align: center;
	color: white;
	font-size: 12pt;
	background: #e2e2e2;
	background: -moz-linear-gradient(top, #ffaf00 50%, #ff8f00 70%, #ff6e00 100%);
	background: -webkit-linear-gradient(top, #ffaf00 50%, #ff8f00 70%, #ff6e00 100%);
	background: -o-linear-gradient(top, #ffaf00 50%, #ff8f00 70%, #ff6e00 100%);
	background: -ms-linear-gradient(top, #ffaf00 50%, #ff8f00 70%, #ff6e00 100%);
	background: linear-gradient(top, #ffaf00 50%, #ff8f00 70%, #ff6e00 100%);
	border: 1px black solid;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.59);
	cursor: pointer;
	&:active {
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.59);
		transform: translateY(2px);
		transition: .3s;
	}
	A {
		text-decoration: none;
		color: white;
	}
}

@mixin button2($w, $h) {
	width: $w;
	height: $h;
	padding: 16px 0 16px 0;
	font-family: 'OpenSansSemiBold';
	box-sizing: border-box;
	text-align: center;
	color: white;
	font-size: 12pt;
	background: #e2e2e2;
	background: -moz-linear-gradient(top, #ffaf00 50%, #ff8f00 70%, #ff6e00 100%);
	background: -webkit-linear-gradient(top, #ffaf00 50%, #ff8f00 70%, #ff6e00 100%);
	background: -o-linear-gradient(top, #ffaf00 50%, #ff8f00 70%, #ff6e00 100%);
	background: -ms-linear-gradient(top, #ffaf00 50%, #ff8f00 70%, #ff6e00 100%);
	background: linear-gradient(top, #ffaf00 50%, #ff8f00 70%, #ff6e00 100%);
	cursor: pointer;
	border: none;
	&:active {
		transform: translateY(2px);
		transition: .3s;
	}
}

input {
	padding: 15px;
	box-sizing: border-box;
	width: 260px;
	margin-right: 10px;
	background: rgba(33, 16, 97, 0.7);
	color: white;
	font-family: "OpenSansItalic";
	border: 1px white solid;
	font-size: 12pt;
}

.content {
	width: 1280px;
	margin: 0 auto;
}

.header {
	height: 135px;
	background: white;
	min-width: $centerWidth;
	position: relative;
	.section-center {
		@include center();
		padding: 35px 50px 30px 50px;
		.logo {
			float: left;
			padding: 0px 20px 0 0px;
		}
		.descritption {
			float: left;
			border-left: 1px solid $orange-1;
			width: 355px;
			font-family: 'OpenSansSemiBold';
			box-sizing: border-box;
			padding: 0px 30px 0 29px;
			font-size: 10pt;
			color: $blue-1;
			line-height: 150%;
		}
		.phones {
			float: left;
			width: 390px;
			box-sizing: border-box;
			padding: 35px 20px 0px 20px;
			.line {
				position: relative;
				width: 100%;
				p:nth-child(1) {
					float: left;
				}
				p:nth-child(2) {
					float: right;
				}
			}
			.line-1 {
				font-family: 'OpenSansSemiBold';
				font-size: 14pt;
				color: $blue-1;
				&:after {
					content: '';
					width: 15px;
					height: 15px;
					background: url('../img/phone-sm.png') center no-repeat;
					background-size: cover;
					position: absolute;
					left: -20px;
				}
			}
			.line-2 {
				font-family: 'OpenSansLight';
				font-size: 8pt;
				color: $black-1;
			}
		}
		.btn {
			float: left;
			@include button(195px,
			50px);
		}
	}
	@media (min-width:1081px) and (max-width:1280px) {
		& {
			height: 160px;
		}
		.section-center {
			width: 1081px;
			padding: 35px 70px 30px 70px;
			.logo {
				img {
					width: 217px;
				}
			}
			.descritption {
				clear: both;
				position: absolute;
				bottom: 10px;
				width: 1000px;
				font-size: 12pt;
			}
			.phones {
				width: 433px;
				padding: 5px 20px 0px 20px;
				.line-1 {
					font-size: 16pt;
				}
			}
			.btn {
				width: 260px;
			}
		}
	}
	@media (min-width:769px) and (max-width:1080px) {
		& {
			height: 150px;
		}
		.section-center {
			width: 770px;
			padding: 35px 0px 30px 0px;
			.logo {
				img {
					width: 150px;
				}
			}
			.descritption {
				clear: both;
				position: absolute;
				bottom: 10px;
				width: 770px;
				font-size: 12pt;
			}
			.phones {
				padding: 5px 20px 0px 20px;
			}
		}
	}
	@media (min-width:481px) and (max-width:768px) {
		& {
			height: 195px;
		}
		.section-center {
			width: 485px;
			padding: 15px 0px 30px 0px;
			.logo {
				padding: 0px 0px 20px 0px;
				position: relative;
				width: 220px;
				margin: auto;
				float: none;
				img {
					width: 220px;
				}
			}
			.descritption {
				display: none;
			}
			.phones {
				width: 433px;
				position: relative;
				height: 50px;
				float: none;
				margin: auto;
				padding: 5px 20px 0px 20px;
				.line-1 {
					font-size: 16pt;
				}
			}
			.btn {
				width: 260px;
				margin: auto;
				position: relative;
				float: none;
			}
		}
	}
}

.footer,
.section {
	width: 100%;
	min-width: $centerWidth;
	position: relative;
	.section-center {
		@include center();
	}
}

.section-1 {
	height: 814px;
	background: url('../img/section-1-bg.jpg') center no-repeat;
	background-size: 1677px 814px;
	@media (min-width: 1677px) {
		& {
			background-size: cover;
		}
	}
	.sc-1 {
		padding: 75px 0px 90px 150px;
		h1 {
			font-family: 'OpenSansLight';
			font-size: 42pt;
			line-height: 115%;
			color: $blue-1;
			b {
				font-family: 'OpenSansSemiBold';
			}
		}
		h1 + hr {
			width: 68px;
			background: $orange-1;
			height: 5px;
			border: none;
			position: relative;
			margin: 25px 0 20px 0;
		}
		p {
			clear: both;
			width: 100%;
			font-size: 17pt;
			line-height: 150%;
			color: $blue-1;
			font-family: "OpenSansRegular";
		}
		p + hr {
			width: 68px;
			background: $orange-1;
			height: 1px;
			border: none;
			position: relative;
			margin: 25px 0 20px 0;
		}
	}
	.sub-1 {
		width: 100%;
		height: 240px;
		background: rgba(33, 16, 97, 0.9);
		.sc-2 {
			padding: 35px 100px 20px 100px;
			h1 {
				font-family: "OpenSansRegular";
				text-align: center;
				line-height: 150%;
				font-size: 32pt;
				color: white;
				b {
					font-family: 'OpenSansSemiBold';
					color: $orange-1;
				}
			}
			h6 {
				font-family: "OpenSansRegular";
				text-align: center;
				line-height: 150%;
				font-size: 13pt;
				color: $orange-1;
			}
		}
		form {
			position: relative;
			box-sizing: border-box;
			padding: 15px 0px 15px 0px;
			width: 100%;
			height: 80px;
			input {
				float: left;
				@include placeholder(white);
				margin-bottom: 10px;
			}
			button {
				@include button(260px,
				55px);
			}
		}
		p {
			clear: both;
			width: 100%;
			font-family: "OpenSansRegular";
			text-align: center;
			line-height: 150%;
			font-size: 13pt;
			color: white;
			strong {
				color: $orange-1;
			}
		}
	}
	@media (min-width:1081px) and (max-width:1280px) {
		.section-center {
			width: 1081px !important;
		}
		& {
			.sub-1 {
				.sc-2 {
					padding: 35px 0px 20px 0px;
				}
			}
		}
	}
	@media (min-width:769px) and (max-width:1080px) {
		.section-center {
			width: 770px !important;
		}
		.sc-1 {
			padding: 75px 0px 90px 0px;
		}
		& {
			.sub-1 {
				.sc-2 {
					padding: 35px 0px 20px 0px;
					input {
						width: 183px;
						font-size: 10pt;
						padding: 17px;
					}
					button {
						width: 183px;
						font-size: 10pt;
					}
					p {
						font-size: 10pt;
					}
				}
			}
		}
	}
	@media (min-width:481px) and (max-width:768px) {
		.section-center {
			width: 485px !important;
		}
		.sc-1 {
			padding: 75px 0px 40px 0px;
			h1 {
				font-size: 30pt;
			}
			p {
				font-size: 14pt;
			}
		}
		& {
			.sub-1 {
				height: 305px;
				form {
					padding: 15px 40px 15px 40px;
				}
				.sc-2 {
					padding: 35px 0px 20px 0px;
					h1 {
						font-size: 24pt;
					}
					input {
						width: 183px;
						font-size: 10pt;
						padding: 17px;
					}
					button {
						width: 183px;
						font-size: 10pt;
					}
					p {
						font-size: 10pt;
					}
				}
			}
		}
	}
}

.section-2 {
	height: 887px;
	padding-top: 60px;
	box-sizing: border-box;
	h1 {
		font-family: 'OpenSansSemiBold';
		font-size: 38pt;
		line-height: 115%;
		color: $orange-1;
		text-align: center;
	}
	h1 + hr {
		width: 68px;
		background: $orange-1;
		height: 5px;
		border: none;
		margin-top: 25px;
		//margin: 25px 0 20px 0;
	}
	.sc-1 {
		background: url('../img/section-2-bg.jpg') center no-repeat;
		background-size: 520px 686px;
		background-position: 280px 25px;
		height: 686px;
		& > .right > p,
		& > .left > p {
			font-size: 13pt;
			font-family: "OpenSansRegular";
			color: $blue-1;
			line-height: 150%;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		h2 {
			font-size: 18pt;
			font-family: "OpenSansSemiBold";
			color: $orange-1;
			line-height: 150%;
			text-align: left;
		}
		.circle {
			width: 221px;
			text-align: center;
			box-sizing: border-box;
			color: $blue-1;
			font-size: 14pt;
			font-family: "OpenSansSemiBold";
			line-height: 150%;
			padding-top: 55px;
			margin: auto;
		}
		.left {
			width: 300px;
			float: left;
			padding-left: 20px;
			div {
				height: 213px;
				background: url('../img/oval-1.png') center no-repeat;
			}
		}
		.right {
			float: right;
			div:nth-child(1) {
				height: 213px;
				background: url('../img/oval-1.png') center no-repeat;
				margin-bottom: 30px;
			}
			div:nth-child(2) {
				height: 241px;
				background: url('../img/oval-2.png') center no-repeat;
			}
		}
		.r1 {
			width: 250px;
		}
		.r2 {
			width: 280px;
			padding: 0 20px 20px 20px;
			& > p:nth-child(1) {
				padding-top: 0px;
			}
		}
	}
	@media (min-width:1081px) and (max-width:1280px) {
		.section-center {
			width: 1081px !important;
		}
		.sc-1 {
			//background-position: 129px 0px;
			h2 {
				font-size: 12pt;
			}
			.right,
			.left {
				div {
					height: 156px !important;
					background-size: contain;
				}
			}
			.right {
				width: 200px;
				& > p {
					font-size: 12pt;
				}
			}
			.left {
				width: 280px;
				& > p {
					font-size: 14pt;
				}
			}
			.circle {
				width: 156px;
				font-size: 10pt;
				padding-top: 40px;
			}
			.r1 {
				//width: 100%;
				//position: relative;
				box-sizing: border-box;
				padding: 16px 50px 0px 31px;
				.circle:nth-child(n) {
					width: 170px !important;
					font-size: 8pt;
					background-size: contain;
				}
				.circle:nth-child(1) {
					float: none;
					font-size: 10pt;
					padding-top: 50px;
					position: relative;
				}
				.circle:nth-child(2) {
					loat: none;
					padding-top: 35px;
				}
			}
		}
	}
	@media (min-width:769px) and (max-width:1080px) {
		.section-center {
			width: 770px !important;
		}
		.sc-1 {
			background-position: 129px 0px;
			h2 {
				font-size: 12pt;
			}
			.right,
			.left {
				div {
					height: 156px !important;
					background-size: contain;
				}
			}
			.right,
			.left {
				width: 200px;
				& > p {
					font-size: 10pt;
				}
			}
			.circle {
				width: 156px;
				font-size: 10pt;
				padding-top: 40px;
			}
			.r1 {
				width: 100%;
				position: relative;
				box-sizing: border-box;
				padding: 16px 50px 0px 5px;
				.circle:nth-child(n) {
					width: 170px !important;
					font-size: 8pt;
					background-size: contain;
				}
				.circle:nth-child(1) {
					float: left;
					font-size: 10pt;
					padding-top: 50px;
				}
				.circle:nth-child(2) {
					float: right;
					padding-top: 35px;
				}
			}
		}
	}
	@media (min-width:481px) and (max-width:768px) {
		.section-center {
			width: 481px !important;
		}
		& {
			h1 {
				font-size: 20pt;
			}
			.sc-1 {
				background-size: contain;
				background-position: 15px 155px !important;
				height: 832px;
				.r2,
				.r1 {
					padding: 20px 20px 20px 20px;
					width: 100%;
					float: left;
					box-sizing: border-box;
				}
				.right {
					& > p {
						text-shadow: 2px 1px 0px white;
					}
					.circle {
						display: none;
					}
				}
				.left {
					float: left;
					width: 100%;
					box-sizing: border-box;
					& > p {
						text-shadow: 2px 1px 0px white;
					}
					.circle {
						display: none;
					}
				}
				h2 {
					text-align: center;
				}
			}
		}
	}
}

.section-3 {
	height: 689px;
	background: url('../img/section-3-bg.jpg') center no-repeat;
	background-size: 1680px 685px;
	box-sizing: border-box;
	padding: 150px 150px 0px 150px;
	@media (min-width: 1680px) {
		& {
			background-size: cover;
		}
	}
	.sc-1 {
		width: 980px;
	}
	.sc-1 > div {
		background: $blue-1;
		height: 265px;
		box-sizing: border-box;
		padding: 60px 80px 38px 80px;
		h1 {
			text-align: center;
			box-sizing: border-box;
			color: white;
			font-size: 18pt;
			font-family: "OpenSansRegular";
			line-height: 150%;
			b {
				font-size: 42pt;
				color: $orange-1;
				font-family: "OpenSansSemiBold";
			}
			&:nth-child(1) {
				text-transform: uppercase;
			}
			&:nth-child(2) {
				padding-top: 10px;
			}
		}
	}
	.sc-2 {
		width: 260px;
		margin-top: 25px;
		button {
			@include button(260px,
			50px);
			margin: auto;
		}
	}
	@media (min-width:1081px) and (max-width:1280px) {
		& {
			padding: 150px 0px 0px 0px;
		}
	}
	@media (min-width:769px) and (max-width:1080px) {
		& {
			padding: 150px 0px 0px 0px !important;
		}
		.sc-1 {
			width: 770px;
			div {
				h1 {
					font-size: 12pt;
				}
			}
		}
	}
	@media (min-width:481px) and (max-width:768px) {
		& {
			padding: 150px 0px 0px 0px;
			clear: both;
		}
		.sc-1 {
			width: 481px;
			div {
				clear: both;
				h1 {
					font-size: 10pt;
				}
			}
		}
	}
}

.section-4 {
	height: 907px;
	box-sizing: border-box;
	.sc-1 {
		height: 585px;
		h1 {
			font-family: "OpenSansLight";
			font-style: italic;
			font-size: 40pt;
			line-height: 130%;
			text-align: right;
			color: $blue-1;
		}
		h1 + hr {
			width: 68px;
			background: $orange-1;
			height: 5px;
			border: none;
			position: relative;
			float: right;
			//margin: 25px 0px 20px 0px;
		}
		.rect {
			width: 100%;
			height: 380px;
			top: -160px;
			position: relative;
			.item {
				width: 133px;
				float: left;
				margin-right: 35px;
				h6 {
					font-family: "OpenSansSemiBold";
					color: $blue-1;
					font-size: 14pt;
					text-align: center;
					line-height: 150%;
					margin-top: 10px;
					i {
						FONT-SIZE: 6PT;
						top: -9px;
						position: relative;
					}
				}
			}
			@for $i from 1 through 5 {
				.item:nth-child(#{$i}) {
					margin-top: 50px*$i;
				}
				@if $i>1 {
					.item:nth-child(#{$i}) {
						margin-left: 35px;
					}
					.item:nth-child(#{$i}):after {
						content: '';
						width: 40px;
						height: 1px;
						background: $orange-1;
						float: left;
						margin-left: -55px;
						margin-top: -190px;
					}
				}
			}
		}
		padding: 60px 150px 0px 150px;
	}
	.sc-2 {
		height: 363px;
		width: 100%;
		background: url('../img/section-4-bg.jpg') center repeat-x;
		background-size: cover;
		.sc-1 {
			width: 1065px;
			padding: 0;
		}
		.catalog {
			float: left;
			margin-top: -200px;
		}
		form {
			float: right;
			width: 325px;
			height: 300px;
			background: $blue-1;
			box-sizing: border-box;
			padding: 20px 30px 30px 30px;
			margin-top: -75px;
			h3 {
				color: white;
				font-size: 18pt;
				text-align: left;
				line-height: 110%;
				margin-bottom: 15px;
			}
			input {
				@include placeholder(white);
				margin-bottom: 15px;
			}
			button {
				@include button(260px,
				55px);
			}
		}
	}
	@media (min-width:1081px) and (max-width:1280px) {
		& {
			.section-center {
				width: 1081px;
			}
			.sc-1 {
				padding: 60px 0px 0px 70px;
			}
		}
	}
	@media (min-width:769px) and (max-width:1080px) {
		.section-4 {
			min-width: 770px;
		}
		.sc-1 {
			width: 770px !important;
			padding: 60px 0px 0px 0px;
			.rect {
				top: -120px;
				.item {
					width: 100px;
					margin-right: 30px;
					h6 {
						font-size: 12pt;
					}
					img {
						width: 105px;
					}
					&:last-child {
						margin-right: 0px;
					}
				}
				@for $i from 1 through 5 {
					@if $i>1 {
						.item:nth-child(#{$i}):after {
							content: '';
							width: 35px;
							height: 1px;
							background: $orange-1;
							float: left;
							margin-left: -45px;
							margin-top: -190px;
						}
					}
				}
			}
		}
		.sc-2 {
			.catalog {
				position: absolute;
				z-index: 2;
				img {
					width: 469px;
					margin-top: 219px;
				}
			}
			form {
				margin-top: 31px;
				z-index: 1;
				position: absolute;
				right: 20px;
				float: none;
			}
		}
	}
	@media (min-width:481px) and (max-width:768px) {
		& {
			min-width: 481px;
			height: 1090px;
		}
		.sc-1 {
			width: 481px !important;
			padding: 60px 0px 0px 0px;
			height: 730px;
			h1 {
				font-size: 24pt;
				text-align: center;
			}
			h1 + hr {
				float: none;
				margin: 20px auto;
			}
			.rect {
				top: 40px;
				.item {
					height: 250px;
					margin-right: 0px;
					h6 {
						font-size: 12pt;
					}
					img {
						//width: 65px;
					}
					&:last-child {
						margin-right: 0px;
					}
					&:nth-child(4) {
						margin-left: 75px;
					}
				}
				@for $i from 1 through 5 {
					.item:nth-child(#{$i}) {
						margin-top: 0px*$i;
					}
					@if $i>1 {
						.item:nth-child(#{$i}):after {
							content: '';
							display: none;
						}
					}
				}
			}
		}
		.sc-2 {
			.catalog {
				display: none;
			}
			form {
				width: 481px;
				height: 300px;
				background: #211061;
				box-sizing: border-box;
				padding: 20px 30px 30px 30px;
				margin-top: 35px;
				input,
				button {
					width: 100%;
				}
			}
		}
	}
}

.section-5 {
	height: 1682px;
	.sc-1 {
		padding: 60px 50px 50px 50px;
		box-sizing: border-box;
		& > h1 {
			font-family: "OpenSansSemiBold";
			color: $orange-1;
			font-size: 40pt;
			text-align: center;
			line-height: 130%;
			width: 100%;
			clear: both;
		}
		& > h2 {
			font-family: "OpenSansLight";
			color: $blue-1;
			font-size: 40pt;
			text-align: center;
			line-height: 130%;
			width: 100%;
			clear: both;
			font-style: italic;
		}
		h2 + hr {
			width: 68px;
			background: $orange-1;
			height: 5px;
			border: none;
			position: relative;
			margin: auto;
			margin-top: 25px;
		}
		& > p {
			text-align: center;
			font-family: "OpenSansRegular";
			font-size: 14pt;
			line-height: 150%;
			color: $black-1;
			padding: 25px 150px 0px 150px;
		}
		.group {
			width: 100%;
			padding: 30px 0px 0px 0px;
			box-sizing: border-box;
			.project {
				width: 380px;
				margin-right: 10px;
				height: 500px;
				float: left;
				img {
					width: 380px;
				}
				hr {
					width: 69px;
					margin: auto;
					height: 1px;
					background: $orange-1;
					border: none;
					margin-bottom: 45px;
				}
				h1 {
					text-align: center;
					font-family: "OpenSansLight";
					font-size: 24pt;
					line-height: 150%;
					color: $blue-1;
					b {
						font-family: "OpenSansSemiBold";
						color: $orange-1;
					}
				}
				p {
					text-align: center;
					font-family: "OpenSansRegular";
					font-size: 10pt;
					line-height: 150%;
					color: $blue-1;
					margin-bottom: 20px;
					height: 50px;
					strong {
						font-family: "OpenSansSemiBold";
						border-bottom: 1px $blue-1 solid;
					}
				}
				button {
					width: 260px;
					height: 50px;
					padding: 16px 0 16px 0;
					font-family: 'OpenSansSemiBold';
					box-sizing: border-box;
					text-align: center;
					color: $blue-1;
					font-size: 12pt;
					background: white;
					border: 1px $blue-1 solid;
					margin-left: 60px;
					margin-top: 25px;
					position: relative;
					cursor: pointer;
					&:active {
						background: $orange-1;
						color: white;
						a {
							color: white;
						}
					}
					A {
						text-decoration: none;
						color: $blue-1;
					}
				}
			}
			.new-project {
				width: 360px;
				margin-right: 10px;
				height: 215px;
				float: left;
				background: #e8e7ef;
				box-sizing: border-box;
				padding: 35px 40px 30px 40px;
				margin-top: 163px;
				h1 {
					text-align: center;
					font-family: "OpenSansLight";
					font-size: 21pt;
					line-height: 150%;
					color: $blue-1;
				}
				button {
					@include button2(260px,
					50px);
					margin: auto;
					a {
						text-decoration: none;
						color: white;
					}
				}
			}
		}
	}
	@media (min-width:1081px) and (max-width:1280px) {
		.section-center {
			width: 1081px;
		}
		.sc-1 {
			.group {
				padding: 30px 100px 0px 100px;
			}
		}
	}
	@media (min-width:769px) and (max-width:1080px) {
		.section-center {
			width: 770px;
		}
		.sc-1 {
			& > h1 {
				font-size: 32pt;
			}
			& > h2 {
				font-size: 24pt;
			}
			.group {
				.new-project {
					width: 310px;
					padding: 35px 20px 30px 20px;
					height: 175px;
					margin-top: 156px;
					h1 {
						font-size: 16pt;
					}
				}
				.project {
					width: 310px;
					height: 460px;
					h1 {
						font-size: 20pt;
					}
					p {
						font-size: 8pt;
					}
					img {
						width: 310px;
					}
					button {
						margin-left: 15px;
					}
				}
			}
		}
	}
	@media (min-width:481px) and (max-width:768px) {
		.section-center {
			width: 481px;
		}
		.sc-1 {
			& > h1 {
				font-size: 18pt;
			}
			& > h2 {
				font-size: 14pt;
			}
			& > p {
				padding: 25px 0px 25px 0px;
			}
			.group {
				.new-project {
					margin-top: 0px;
					margin-bottom: 20px;
				}
			}
		}
	}
}

.section-6 {
	height: 235px;
	min-width: $centerWidth;
	padding: 0px;
	width: 100%;
	clear: both;
	background: url('../img/section-6-bg.jpg') center no-repeat;
	background-size: cover;
	.left {
		width: 347px;
		float: left;
		margin-right: 45px;
		text-align: center;
		padding-top: 20px;
		box-sizing: border-box;
		height: 235px;
		background: $blue-1;
		h2 {
			font-size: 18pt;
			color: white;
			line-height: 150%;
			font-family: "OpenSansLight";
			strong {
				color: $orange-1;
			}
		}
		hr {
			width: 100%;
			height: 1px;
			border: none;
			margin-top: 20px;
			margin-bottom: 20px;
			background: $orange-1;
		}
		h3 {
			font-size: 14pt;
			color: $orange-1;
			line-height: 150%;
		}
	}
	.middle {
		padding: 30px;
		box-sizing: border-box;
		background: #dedbe7;
		width: 586px;
		height: 235px;
		float: left;
		.home {
			float: left;
		}
		.load {
			float: right;
			width: 125px;
			* {
				float: left;
			}
			a {
				float: right;
			}
			h1 {
				font-family: "OpenSansSemiBold";
				font-size: 14pt;
				color: $blue-1;
				text-align: center;
				line-height: 150%;
				width: 100%;
				padding-top: 20px;
			}
			p {
				font-size: 9pt;
				text-align: center;
				line-height: 150%;
				width: 100%;
				padding-top: 20px;
			}
		}
	}
	.right {
		width: 290px;
		background: #e8e7ef;
		float: left;
		height: 235px;
		form {
			box-sizing: border-box;
			padding: 30px 30px 30px 30px;
			h3 {
				color: white;
				font-size: 18pt;
				text-align: left;
				line-height: 110%;
				margin-bottom: 15px;
			}
			input {
				padding: 15px;
				box-sizing: border-box;
				width: 260px;
				margin-right: 10px;
				background: white;
				color: $blue-1;
				font-family: "OpenSansItalic";
				border: 1px $blue-1 solid;
				font-size: 12pt;
				margin-bottom: 10px;
				@include placeholder($blue-1);
			}
			button {
				@include button(260px,
				55px);
			}
		}
	}
	@media (min-width:1081px) and (max-width:1280px) {
		.section-center {
			width: 1081px;
			min-width: 1081px;
			.left {
				width: 279px;
			}
			.middle {
				width: 420px;
				.load {}
				.home {
					width: 200px;
					margin-top: 40px;
					margin-left: 20px;
					img {
						width: 100%;
					}
				}
			}
			.rig .right {
				width: 250px;
			}
		}
	}
	@media (min-width:769px) and (max-width:1080px) {
		.section-center {
			width: 770px;
			min-width: 770px;
			.left {
				width: 325px;
				h2 {
					font-size: 14pt;
				}
			}
			.middle {
				width: 320px;
				display: none;
				.load {
					width: 100%;
					position: relative;
					a {
						top: -118px;
						margin-left: 249px;
						position: absolute;
					}
					h1 {
						padding-top: 0px;
					}
					p {
						padding-top: 0px;
					}
				}
				.home {
					width: 200px;
					margin-top: 0px;
					margin-left: 20px;
					img {
						width: 100%;
					}
				}
			}
			.right {
				width: 200px;
			}
		}
	}
	@media (min-width:481px) and (max-width:768px) {
		& {
			background: $blue-1;
		}
		.section-center {
			width: 481px;
			min-width: 481px;
			.left {
				width: 200px;
				display: none;
				h2 {
					font-size: 14pt;
				}
			}
			.middle {
				display: none;
			}
			.right {
				background: transparent;
				width: 450px;
				form {
					input {
						width: 100%;
					}
					button {
						margin-left: 55px;
					}
				}
			}
		}
	}
}

.section-7 {
	height: 1220px;
	.sc-1 {
		padding: 90px 100px 90px 100px;
		h1 {
			font-size: 36pt;
			font-family: 'OpenSansSemiBold';
			line-height: 110%;
			color: $orange-1;
			text-align: center;
		}
		h1 + hr {
			width: 68px;
			height: 5px;
			background: $orange-1;
			border: none;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		h2 {
			font-size: 22pt;
			font-family: 'OpenSansSemiBold';
			line-height: 150%;
			color: $blue-1;
			text-align: center;
		}
		.group {
			position: relative;
			width: 100%;
			height: 280px;
			top: 50px;
			.item {
				float: left;
				width: 132px;
				height: 260px;
				.img {
					width: 100%;
					position: relative;
					z-index: 1;
					width: 132px;
					margin: auto;
				}
				p {
					font-size: 12pt;
					color: $blue-1;
					font-family: 'OpenSansItalic';
					text-align: center;
					line-height: 150%;
					b {
						font-family: 'OpenSansSemiBold';
						font-weight: bold;
					}
				}
			}
		}
		.group-1 {
			&:after {
				width: 100%;
				height: 1px;
				background: lightgray;
				content: '';
				top: 70px;
				left: 0px;
				position: absolute;
				z-index: 0;
			}
			.item {
				margin-left: 184px;
			}
			.item:first-child {
				margin-left: 0px;
			}
		}
		.group-2 {
			&:after {
				width: 700px;
				height: 1px;
				background: lightgray;
				content: '';
				top: 70px;
				left: 200px;
				position: absolute;
				z-index: 0;
			}
			.item {
				margin-left: 70px;
				width: 270px;
			}
			.item:first-child {
				margin-left: 72px;
			}
		}
		hr {
			width: 68px;
			height: 5px;
			background: $orange-1;
			border: none;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		h2 {
			font-size: 16pt;
			font-family: 'OpenSansSemiBold';
			line-height: 150%;
			color: $blue-1;
			text-align: center;
		}
		p {
			font-size: 12pt;
			font-family: 'OpenSansRegular';
			line-height: 150%;
			color: $blue-1;
			text-align: center;
		}
		.row {
			width: 260px;
			position: relative;
			margin: auto;
			padding-top: 30px;
			button {
				@include button(260px,
				55px);
			}
		}
	}
	@media (min-width:1081px) and (max-width:1280px) {
		& {
			height: 1285px;
		}
		.section-center {
			width: 1081px;
		}
		.sc-1 {
			.group {
				.item {
					width: 145px;
					margin-left: 95px !important;
					&:first-child {
						margin-left: 0px !important;
					}
				}
			}
			.group-1 {
				height: 300px;
				&:after {
					width: 770px;
				}
			}
			.group-2 {
				height: 380px;
				&:after {
					width: 500px;
				}
				.item:first-child {
					margin-left: 145px !important;
				}
			}
		}
	}
	@media (min-width:769px) and (max-width:1080px) {
		& {
			height: 1285px;
		}
		.section-center {
			width: 770px;
		}
		.sc-1 {
			
			h1 {
				font-size:26pt;
			}
			.group {
				.item {
					width: 140px;
					margin-left: 0px !important;
					&:first-child {
						margin-left: 0px !important;
					}
					.img {
						width: 100px;
						img {
							width: 100%;
						}
					}
				}
			}
			.group-1 {
				height: 250px;
				&:after {
					display: none;
				}
			}
			.group-2 {
				height: 380px;
				&:after {
					display: none;
				}
				.item:first-child {
					margin-left: 75px !important;
				}
			}
		}
	}
	@media (min-width:481px) and (max-width:768px) {
		.section-center {
			width: 481px;
		}
		& {
			height: 1800px;
		}
		.sc-1 {
			h1 {
				font-size: 14pt;
			}
			h2 {
				font-size: 10pt;
			}
			.group {
				.item {
					width: 140px;
					margin-left: 0px !important;
					&:first-child {
						margin-left: 0px !important;
					}
					.img {
						width: 100px;
						img {
							width: 100%;
						}
					}
				}
			}
			.group-1 {
				height: 565px;
				&:after {
					display: none;
				}
			}
			.group-2 {
				height: 675px;
				&:after {
					display: none;
				}
				.item:first-child {
					margin-left: 75px !important;
				}
			}
		}
	}
}

.section-8 {
	height: 450px;
	background: $blue-1;
	.sc-1 {
		padding: 30px 100px 30px 100px;
		h1 {
			font-size: 20pt;
			font-family: 'OpenSansSemiBold';
			line-height: 150%;
			color: $orange-1;
			text-align: center;
		}
		h2 {
			font-size: 13pt;
			font-family: 'OpenSansSemiBold';
			line-height: 150%;
			color: white;
			text-align: center;
			padding-bottom: 30px;
		}
		.info {
			float: left;
			width: 220px;
			img {
				width: 100%;
			}
			h5 {
				font-size: 12pt;
				font-family: 'OpenSansSemiBold';
				line-height: 150%;
				color: white;
				text-align: center;
			}
			h6 {
				font-size: 10pt;
				font-family: 'OpenSansSemiBold';
				line-height: 150%;
				color: $orange-1;
				text-align: center;
			}
		}
		form {
			float: left;
			width: 818px;
			padding-left: 40px;
			.row {
				position: relative;
				&:nth-child(2) {
					padding-top: 20px;
				}
				input {
					@include placeholder(white);
				}
				textarea {
					padding: 15px;
					box-sizing: border-box;
					width: 533px;
					min-width: 533px;
					max-width: 533px;
					height: 195px;
					max-height: 195px;
					min-height: 195px;
					margin-right: 10px;
					background: rgba(33, 16, 97, 0.7);
					color: white;
					font-family: "OpenSansItalic";
					border: 1px white solid;
					font-size: 12pt;
					float: left;
					@include placeholder(white);
				}
				.send {
					float: left;
					width: 260px;
					label {
						display: block;
						cursor: pointer;
						position: relative;
						padding-left: 34px;
						margin-right: 15px;
						font-size: 13px;
						color: white;
						margin-top: -5px;
					}
					input[type=checkbox] {
						display: none;
					}
					.checkbox label:before {}
					input[type=checkbox]:not(checked) + label:before {
						content: '';
						border: 1px $orange-1 solid;
						width: 20px;
						height: 20px;
						position: absolute;
						margin-left: -31px;
						margin-top: 5px;
					}
					input[type=checkbox]:checked + label:before {
						content: "\2713";
						text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
						font-size: 16px;
						color: $orange-1;
						margin-left: -31px;
						text-align: center;
						line-height: 19px;
						width: 20px;
						height: 20px;
						margin-left: -31px;
						margin-top: 5px;
					}
					button {
						margin-top: 56px;
						@include button(260px,
						55px);
					}
				}
			}
		}
	}
	@media (min-width:1081px) and (max-width:1280px) {
		.section-center {
			width: 1081px;
		}
		.sc-1 {
			padding: 30px 0px 30px 0px;
		}
	}
	@media (min-width:769px) and (max-width:1080px) {
		.section-center {
			width: 770px;
		}
		.sc-1 {
			padding: 30px 0px 30px 10px;
			.info {
				width: 150px;
			}
			
			h2 {
				font-size:12pt;
			}
			form {
				width: 550px;
				input {
					margin-bottom: 15px;
				}
				.row:nth-child(2) {
					padding-top: 0px;
					textarea {
						width: 260px;
						min-width: 260px;
						max-width: 260px;
						height: 110px;
						max-height: 110px;
						min-height: 110px;
					}
					.send {
						margin-top: -67px;
						button {
							margin-top: 37px;
						}
					}
				}
			}
		}
	}
	@media (min-width:481px) and (max-width:768px) {
		& {
			height: 690px;
		}
		.section-center {
			width: 481px;
		}
		.sc-1 {
			padding: 30px 0px 30px 0px;
			.info {
				display: none;
			}
			form {
				width: 470px;
				padding: 0px 20px 0px 20px;
				box-sizing: border-box;
				input {
					margin-bottom: 15px;
					width: 100%;
				}
				.row:nth-child(2) {
					padding-top: 0px;
					textarea {
						width: 100%;
						min-width: 100%;
						max-width: 100%;
						height: 110px;
						max-height: 110px;
						min-height: 110px;
					}
					.send {
						margin-top: 15px;
						width: 100%;
						button {
							margin-top: 15px;
							margin-left: 80px;
						}
					}
				}
			}
		}
	}
}

.section-9 {
	height: 595px;
	.sc-1 {
		padding: 50px 150px 50px 150px;
		h1 {
			font-size: 36pt;
			font-family: 'OpenSansSemiBold';
			line-height: 150%;
			color: $orange-1;
			text-align: center;
		}
		h1 + hr {
			width: 68px;
			height: 5px;
			background: $orange-1;
			border: none;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.slider-compare {
			height: 300px;
			& > div {
				.img-shadow-box {
					width: 470px;
					padding: 10px;
					border: 1px white solid;
					box-sizing: border-box;
					position: relative;
					&:hover {
						border: 1px lightgray solid;
						.shadow {
							background: rgba(255, 255, 255, 0.8);
							top: 10px;
							left: 10px;
							width: 448px;
							height: 253px;
							position: absolute;
						}
					}
					.img {
						width: 100%;
						img {
							width: 100%;
						}
					}
				}
				hr {
					width: 69px;
					height: 1px;
					background: $orange-1;
					bordeR: none;
				}
				p {
					color: $blue-1;
					text-align: center;
					font-size: 14pt;
					line-height: 200%;
				}
			}
		}
	}
	@media (min-width:1081px) and (max-width:1280px) {}
	@media (min-width:769px) and (max-width:1080px) {}
	@media (min-width:481px) and (max-width:768px) {}
}

.section-10 {
	height: 250px;
	background: #e8e7ef;
	.sc-1 {
		padding: 30px 100px 30px 100px;
		h1 {
			font-family: 'OpenSansSemiBold';
			color: $blue-1;
			font-size: 16pt;
			text-align: center;
			line-height: 200%;
			b {
				font-size: 36pt;
			}
		}
		h2 {
			font-family: 'OpenSansRegular';
			color: $blue-1;
			text-align: center;
			line-height: 150%;
			font-size: 12pt;
		}
		form {
			width: 810px;
			margin: auto;
			padding-top: 30px;
			input {
				border: 1px $blue-1 solid;
				@include placeholder($blue-1);
				background: white;
				color: $blue-1;
			}
			button {
				@include button(260px,
				55px);
			}
		}
	}
}

.section-11 {
	height: 696px;
	background: url('../img/section-11-bg.jpg') center no-repeat;
	background-size: 1677px 696px;
	@media (min-width: 1677px) {
		& {
			background-size: cover;
		}
	}
	.sc-1 {
		padding: 100px 150px 130px 150px;
	}
	h1 {
		color: white;
		font-family: 'OpenSansRegular';
		font-style: italic;
		font-size: 36pt;
		line-height: 150%;
		text-align: center;
	}
	h1 + hr {
		width: 68px;
		height: 5px;
		background: $orange-1;
		border: none;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.slider-expert {
		background: rgba(33, 16, 97, 0.8);
		border: 1px solid white;
		height: 230px;
		padding: 60px;
		box-sizing: border-box;
		.left {
			float: left;
			width: 170px;
			padding: 15px;
			box-sizing: border-box;
			h1 {
				color: $orange-1;
				font-size: 96pt;
				font-family: 'OpenSansBold';
				font-style: normal;
				line-height: 63%;
				text-align: center;
			}
		}
		.right {
			float: left;
			width: 660px;
			h1 {
				color: white;
				font-size: 24pt;
				font-family: 'OpenSansRegular';
				font-style: normal;
				line-height: 150%;
				text-align: left;
			}
			p {
				color: white;
				font-size: 12pt;
				font-family: 'OpenSansRegular';
				font-style: normal;
				line-height: 200%;
				text-align: left;
			}
		}
	}
}

.section-12 {
	height: 760px;
	box-sizing: border-box;
	.sc-1 {
		height: 585px;
		h1 {
			font-family: "OpenSansSemiBold";
			font-size: 40pt;
			line-height: 130%;
			text-align: center;
			color: $orange-1;
		}
		.rect {
			width: 100%;
			height: 380px;
			position: relative;
			.item {
				width: 217px;
				float: left;
				.img {
					width: 132px;
					position: relative;
					margin: auto;
				}
				h6 {
					font-family: "OpenSansRegular";
					color: $blue-1;
					font-size: 14pt;
					text-align: center;
					line-height: 150%;
					margin-top: 10px;
					b {
						font-family: "OpenSansSemiBold";
					}
					i {
						FONT-SIZE: 6PT;
						top: -9px;
						position: relative;
					}
				}
			}
			@for $i from 1 through 5 {
				.item:nth-child(#{$i}) {
					margin-top: 50px*$i;
				}
				@if $i>1 {
					.item:nth-child(#{$i}) {
						margin-left: 35px;
					}
					.item:nth-child(#{$i}):after {
						content: '';
						width: 70px;
						height: 1px;
						background: $orange-1;
						float: left;
						margin-left: -45px;
						margin-top: -250px;
					}
				}
			}
		}
		padding: 60px 150px 0px 150px;
	}
}

.section-13 {
	height: 230px;
	background: $blue-1;
	.sc-1 {
		padding: 30px 0px 30px 0px;
		h1 {
			font-size: 16pt;
			font-family: 'OpenSansSemiBold';
			line-height: 150%;
			color: $orange-1;
			text-align: center;
		}
		h2 {
			font-size: 12pt;
			font-family: 'OpenSansRegular';
			line-height: 150%;
			color: white;
			text-align: center;
		}
		form {
			padding: 30px 100px 30px 100px;
			input {
				@include placeholder(white);
			}
			button {
				@include button(260px,
				55px);
			}
		}
	}
}

.section-14 {
	height: 995px;
	background: url('../img/section-12-bg.jpg') center no-repeat;
	background-size: 1680px 995px;
	@media (min-width: 1677px) {
		& {
			background-size: cover;
		}
	}
	.sc-1 {
		padding: 50px 100px 50px 100px;
		h1 {
			color: $blue-1;
			font-family: 'OpenSansSemiBold';
			font-size: 36pt;
			line-height: 150%;
			text-align: center;
		}
		h1 + hr {
			width: 68px;
			height: 5px;
			background: $orange-1;
			border: none;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		h2 {
			color: $blue-1;
			font-family: 'OpenSansRegular';
			font-size: 16pt;
			line-height: 150%;
			text-align: center;
			b {
				font-family: 'OpenSansSemiBold';
			}
		}
		.item {
			width: 959px;
			height: 177px;
			position: relative;
			margin-top: 50px;
			.head {
				height: 79px;
				background: $blue-1;
				width: 100%;
				padding: 30px;
				box-sizing: border-box;
				p {
					color: white;
					font-family: 'OpenSansSemiBold';
					font-size: 12pt;
				}
			}
			.body {
				width: 100%;
				padding: 30px;
				box-sizing: border-box;
				border: 1px lightgray solid;
				background: white;
				border-top: none;
				p {
					color: $orange-1;
					line-height: 120%;
					font-size: 12pt;
				}
			}
		}
		.toRight {
			margin-left: 120px;
		}
	}
}

.section-15 {
	height: 1187px;
	background: url('../img/section-13-bg.jpg') center no-repeat;
	background-size: 1680px 1187px;
	@media (min-width: 1677px) {
		& {
			background-size: cover;
		}
	}
	.sc-1 {
		padding: 50px 100px 50px 100px;
		h1 {
			font-family: 'OpenSansRegular';
			font-style: italic;
			font-size: 36pt;
			text-align: left;
			line-height: 150%;
			color: white;
		}
		& > hr {
			width: 69px;
			height: 5px;
			background: $orange-1;
			border: none;
			margin-left: 0px;
		}
		.row {
			position: relative;
			width: 100%;
			height: 50px;
			.row-item {
				width: 360px;
				height: 50px;
				text-align: center;
				float: right;
				p {
					font-family: 'OpenSansSemiBold';
					color: white;
					line-height: 150%;
					position: relative;
					width: 100%;
					font-size: 14pt;
					margin-top: 5pt;
				}
				hr {
					width: 69px;
					height: 1px;
					background: $orange-1;
					border: none;
					margin-top: 6px;
				}
			}
		}
		.row-2 {
			position: relative;
			width: 100%;
			margin-top: 10px;
			.row-item-1 {
				width: 360px;
				height: 100%;
				text-align: center;
				float: left;
				height: 100%;
				background: rgba(255, 255, 255, 0.6);
				box-sizing: border-box;
				h1 {
					color: white;
					line-height: 150%;
					position: relative;
					width: 100%;
					font-size: 36pt;
					margin-top: 5pt;
					font-weight: bold;
					font-style: normal;
					font-family: 'OpenSansBold';
					float: left;
					width: 85px;
					line-height: 52px;
				}
				p {
					font-family: 'OpenSansRegular';
					color: white;
					font-size: 14pt;
					margin-top: 5pt;
					float: left;
					width: 215px;
					line-height: 143%;
					text-align: left;
				}
				hr {
					width: 69px;
					height: 1px;
					background: $orange-1;
					border: none;
					margin-top: 6px;
				}
			}
			.row-item-2 {
				width: 360px;
				height: 100%;
				text-align: center;
				float: left;
				background: rgba(255, 255, 255, 0.9);
				display: table;
				box-sizing: border-box;
				p {
					color: $blue-1;
					font-size: 13pt;
					line-height: 150%;
					font-family: 'OpenSansRegular';
					text-align: left;
					b {
						font-family: 'OpenSansSemiBold';
					}
				}
			}
			.row-item-3 {
				width: 360px;
				height: 100%;
				text-align: center;
				float: left;
				background: $orange-1;
				padding: 10px;
				box-sizing: border-box;
				p {
					color: white;
					font-size: 13pt;
					line-height: 150%;
					font-family: 'OpenSansRegular';
					text-align: left;
					b {
						font-family: 'OpenSansSemiBold';
					}
				}
			}
		}
		.r-1 {
			height: 208px;
			.row-item-1 {
				padding: 75px 20px 40px 40px;
			}
			.row-item-2 {
				padding: 60px 20px 30px 30px;
			}
		}
		.r-2 {
			height: 100px;
			.row-item-1 {
				padding: 20px 20px 20px 39px;
			}
			.row-item-2 {
				padding: 36px 20px 30px 30px;
			}
		}
		.r-3 {
			height: 75px;
			.row-item-1 {
				padding: 5px 0px 5px 39px;
			}
			.row-item-2 {
				padding: 24px 20px 12px 30px;
			}
		}
		.r-4 {
			height: 100px;
			.row-item-1 {
				padding: 20px 0px 5px 39px;
				p {
					line-height: 272%;
				}
			}
			.row-item-2 {
				padding: 36px 20px 30px 30px;
			}
		}
		.r-5 {
			height: 75px;
			.row-item-1 {
				padding: 5px 0px 5px 39px;
				p {
					line-height: 272%;
				}
			}
			.row-item-2 {
				padding: 24px 20px 12px 30px;
			}
		}
		.r-6 {
			height: 102px;
			.row-item-1 {
				padding: 26px 0px 5px 39px;
			}
			.row-item-2 {
				padding: 26px 20px 0px 30px;
			}
		}
		.r-7 {
			height: 80px;
			.row-item-1 {
				padding: 10px 0px 5px 39px;
				p {
					line-height: 272%;
				}
			}
			.row-item-2 {
				padding: 24px 20px 12px 30px;
			}
			.row-item-3 {
				padding-top: 22px;
			}
		}
	}
}

.section-16 {
	height: 740px;
	.sc-1 {
		padding: 50px;
		h1 {
			text-align: center;
			font-family: 'OpenSansRegular';
			font-size: 36pt;
			line-height: 150%;
			color: $blue-1;
		}
		h2 {
			text-align: center;
			font-family: 'OpenSansSemiBold';
			font-size: 36pt;
			line-height: 150%;
			color: $orange-1;
		}
		hr {
			width: 69px;
			height: 5px;
			background: $orange-1;
			border: none;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		& > p {
			text-align: center;
			font-family: 'OpenSansRegular';
			font-size: 12pt;
			line-height: 150%;
			color: $blue-1;
		}
		.row {
			position: relative;
			width: 100%;
			.item {
				width: 250px;
				height: 230px;
				float: left;
				margin-right: 30px;
				&:last-child {
					margin-right: 0px;
				}
				h1 {
					text-align: center;
					font-family: 'OpenSansSemiBold';
					font-size: 36pt;
					line-height: 150%;
					color: $orange-1;
				}
				hr {
					width: 69px;
					height: 1px;
					background: $orange-1;
					border: none;
					margin-top: 10px;
					margin-bottom: 10px;
				}
				p {
					font-size: 12pt;
					line-height: 150%;
					text-align: center;
					color: $blue-1;
					b {
						font-family: 'OpenSansSemiBold';
					}
				}
			}
			@for $i from 1 through 4 {
				.item:nth-child(#{$i}) {
					margin-top: 20px*$i;
				}
			}
		}
	}
}

.section-year {
	height: 114px;
	background: $blue-1;
	.sc-1 {
		padding: 30px 100px 30px 100px;
		.left {
			float: left;
			h1 {
				color: $orange-1;
				font-family: 'OpenSansSemiBold';
				font-weight: 800;
				font-size: 35pt;
				line-height: 78%;
				padding: 10px 30px 20px 0px;
				border-right: 1px $orange-1 solid;
			}
		}
		.right {
			float: left;
			text-transform: uppercase;
			color: white;
			padding: 0px 30px 20px 30px;
			p {
				text-align: left;
				font-family: 'OpenSansRegular';
				font-size: 18pt;
				line-height: 150%;
				color: white;
			}
		}
	}
}

.section-command {
	height: 1454px;
	background: lightgray;
	.sc-1 {
		padding: 50px 150px 50px 150px;
		h1 {
			color: $blue-1;
			font-family: 'OpenSansItalic';
			font-size: 36pt;
			line-height: 150%;
			text-align: left;
		}
		h1 + hr {
			width: 68px;
			height: 5px;
			background: $orange-1;
			border: none;
			margin-top: 20px;
			margin-left: 0px;
			margin-bottom: 20px;
		}
		.row {
			width: 100%;
			position: relative;
			height: 530px;
			margin-bottom: 25px;
			.item {
				width: 305px;
				height: 530px;
				border: 1px white solid;
				float: left;
				background: white;
				margin-left: 25px;
				&:first-child {
					margin-left: 0;
				}
				img {
					width: 305px;
				}
				hr {
					width: 69px;
					height: 1px;
					background: $blue-1;
					border: none;
				}
				h4 {
					line-height: 150%;
					color: $blue-1;
					font-family: 'OpenSansSemiBold';
					font-size: 14pt;
					text-align: center;
				}
				h5 {
					line-height: 150%;
					color: $orange-1;
					font-family: 'OpenSansRegular';
					font-size: 12pt;
					text-align: center;
				}
				.description {
					border-top: 1px lightgray solid;
					width: 100%;
					box-sizing: border-box;
					padding: 15px;
					margin-top: 20px;
					& > p {
						text-align: center;
						font-family: 'OpenSansRegular';
						font-style: italic;
						font-size: 12pt;
						line-height: 150%;
						color: $blue-1;
					}
				}
			}
		}
		.row-2 {
			width: 100%;
			height: 100px;
			position: relative;
			.btn {
				width: 260px;
				margin: auto;
				button {
					@include button(260px,
					55px);
				}
			}
		}
	}
}

.section-17 {
	height: 235px;
	background: $blue-1;
	.sc-1 {
		padding: 25px 100px 25px 100px;
		.left {
			float: left;
			padding: 10px;
			box-sizing: border-box;
		}
		form {
			float: left;
			width: 285px;
			input {
				@include placeholder(white);
				margin-bottom: 10px;
			}
			button {
				@include button(260px,
				55px);
			}
		}
		.p-1 {
			width: 465px;
			h1 {
				font-size: 16pt;
				color: $orange-1;
				line-height: 150%;
				text-align: left;
			}
			p {
				line-height: 150%;
				text-align: left;
				color: white;
				font-size: 12pt;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			hr {
				width: 69px;
				height: 1px;
				background: $orange-1;
				border: none;
				margin-left: 0;
			}
		}
		.p-2 {
			width: 330px;
			img {
				width: 298px;
			}
			p {
				color: white;
				font-size: 10pt;
				font-family: 'OpenSansRegular';
				b {
					font-family: 'OpenSansSemiBold';
				}
			}
		}
	}
}

.section-18 {
	height: 660px;
	width: 100%;
	background: url('../img/section-18-bg.jpg') center no-repeat;
	background-size: cover;
	.sc-1 {
		padding: 60px 150px 60px 150px;
		h1 {
			font-size: 36pt;
			font-family: 'OpenSansSemiBold';
			line-height: 150%;
			color: $orange-1;
			text-align: center;
		}
		h1 + hr {
			width: 68px;
			height: 5px;
			background: $orange-1;
			border: none;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.slider-docs {
			box-sizing: border-box;
			& > div {
				height: 432px;
				clear: both;
				.perspective {
					position: relative;
					padding: 1em;
					height: 380px;
					margin: 2em 10px 4em;
					background: #fff;
					-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
					-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
					box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
				}
				.perspective:before,
				.perspective:after {
					content: "";
					position: absolute;
					z-index: -2;
				}
				.perspective:before {
					left: 80px;
					bottom: 5px;
					width: 50%;
					height: 35%;
					max-width: 200px;
					-webkit-box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
					-moz-box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
					box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
					-webkit-transform: skew(50deg);
					-moz-transform: skew(50deg);
					-ms-transform: skew(50deg);
					-o-transform: skew(50deg);
					transform: skew(50deg);
					-webkit-transform-origin: 0 100%;
					-moz-transform-origin: 0 100%;
					-ms-transform-origin: 0 100%;
					-o-transform-origin: 0 100%;
					transform-origin: 0 100%;
				}
				.perspective:after {
					display: none;
				}
				.perspective p {
					font-size: 16px;
					font-weight: bold;
				}
			}
		}
	}
}

.section-19 {
	height: 868px;
	.sc-1 {
		padding-top: 70px;
		h1 {
			font-size: 42pt;
			font-family: 'OpenSansItalic';
			color: $blue-1;
			text-align: left;
			font-weight: 100;
			padding-left: 150px;
		}
		h1 + hr {
			width: 68px;
			height: 5px;
			background: $orange-1;
			border: none;
			margin-left: 150px;
			margin-top: 50px;
			margin-bottom: 20px;
		}
		h6 {
			font-size: 14pt;
			font-family: 'OpenSansRegular';
			line-height: 150%;
			color: $blue-1;
			text-align: left;
			padding-left: 150px;
		}
		ul {
			width: 100%;
			position: relative;
			margin-top: 25px;
			li {
				float: left;
				width: 310px;
				height: 630px;
				margin-left: 10px;
				&:first-child {
					margin-left: 0px;
				}
				img {
					float: left;
					width: 310px;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.section-video {
	padding: 0px 0 25px 0;
	.sc-1 {
		h1 {
			text-align: center;
			font-family: "OpenSansSemiBold";
			font-size: 40pt;
			line-height: 150%;
			color: $orange-1;
		}
		hr {
			width: 69px;
			margin: 20px auto;
			height: 5px;
			background: $orange-1;
			border: none;
		}
		padding: 50px 100px 0px 100px;
		.row {
			position: relative;
			width: 100%;
			height: 330px;
		}
		.rowWithTitle {
			height: 385px;
		}
		.video-present {
			width: 505px;
			height: 283px;
			float: left;
			padding: 10px;
			border: 1px white solid;
			margin-top: 10px;
			.inner {
				width: 100%;
				height: 100%;
				position: relative;
				overflow: hidden;
				cursor: pointer;
				&:hover {
					.shadow {
						height: 283px;
						background: rgba(33, 16, 97, 0.8);
					}
				}
				.control {
					width: 480px;
					border-radius: 5px;
					background: rgba(0, 0, 0, 0.4);
					height: 30px;
					position: absolute;
					bottom: 80px;
					left: 8px;
					display: none;
					.btn-play,
					.progress,
					.sound,
					.size {
						float: left;
						color: rgba(255, 255, 255, 1);
						/* padding: 0px 7px 0px 7px; */
						text-align: center;
						height: 30px;
						line-height: 250%;
						border-right: 1px rgba(255, 255, 255, 0.8) solid;
					}
					.btn-play {
						width: 30px;
					}
					.progress {
						width: 365px;
					}
				}
				.shadow {
					position: absolute;
					top: 0;
					left: 0;
					height: 0px;
					width: 505px;
					overflow: hidden;
					.play {
						width: 54px;
						height: 68px;
						background: url('../img/play.png') center no-repeat;
						position: relative;
						margin: 107px auto;
						&:active {
							transform: translateY(2px);
							transition: .3s;
						}
					}
				}
			}
			&:hover {
				border: 1px #efefef solid;
			}
		}
		.withTitle {
			height: 350px;
			.title {
				width: 100%;
				height: 65px;
				p {
					color: $blue-1;
					font-size: 14pt;
					text-align: center;
					font-family: 'OpenSansSemiBold';
				}
				p + hr {
					width: 69px;
					height: 1px;
					background: $orange-1;
					margin: 20px auto;
					border: none;
				}
			}
		}
	}
}

.section-otziv {
	width: 100%;
	height: 500px;
	background: #e8e7ef;
	.sc-1 {
		padding: 60px 150px 60px 150px;
		.slider-otziv {
			box-sizing: border-box;
			& > div {
				height: 380px;
				clear: both;
				.left {
					float: left;
					width: 305px;
					ul {
						padding: 20px;
						box-sizing: border-box;
						li {
							width: 50px;
							height: 50px;
							border: 1px $blue-1 solid;
							float: left;
							margin-left: 10px;
							cursor: pointer;
							text-align: center;
							line-height: 200%;
							font-size: 20pt;
							a {
								color: $blue-1;
							}
							&:hover {
								background: $orange-1;
								border: $orange-1 1px solid;
								a {
									color: white;
								}
							}
						}
					}
				}
				.right {
					float: right;
					width: 640px;
					h1 {
						font-size: 20pt;
						font-family: 'OpenSansSemiBold';
						color: $blue-1;
					}
					h2 {
						font-size: 16pt;
						font-family: 'OpenSansItalic';
						line-height: 250%;
						color: $blue-1;
						padding-top: 20px;
						&:after {
							content: '"';
							font-size: 54pt;
							font-family: 'OpenSansItalic';
							float: left;
							margin-top: 5px;
							margin-right: 10px;
							color: $orange-1;
						}
					}
					h2 + hr {
						width: 69px;
						margin: 0px 0px 10px 0px;
						height: 1px;
						border: none;
						background: $orange-1;
					}
					p {
						padding: 0px 0px 0px 40px;
						color: $blue-1;
						font-family: 'OpenSansRegular';
						line-height: 140%;
						text-align: left;
						font-size: 14pt;
					}
				}
			}
		}
	}
}

.footer {
	background: $blue-1;
	width: 100%;
	height: 220px;
	.sc-1 {
		padding: 25px 100px 0px 100px;
		h1 {
			font-family: 'OpenSansSemiBold';
			font-size: 42pt;
			line-height: 115%;
			color: $orange-1;
			text-align: center;
			b {
				font-family: 'OpenSansSemiBold';
			}
		}
		p {
			font-family: 'OpenSansLight';
			font-size: 18pt;
			line-height: 115%;
			color: white;
			text-align: center;
		}
		form {
			padding-top: 30px;
			input {
				@include placeholder(white);
			}
			button {
				@include button(260px,
				55px);
			}
		}
	}
}

.modal {
	h1 {
		font-family: 'OpenSansSemiBold';
		font-size: 24pt;
		line-height: 150%;
		color: $blue-1;
		text-align: center;
		b {
			font-family: 'OpenSansSemiBold';
		}
	}
	h6 {
		font-family: 'OpenSansLight';
		font-size: 18pt;
		line-height: 115%;
		color: $blue-1;
		text-align: center;
	}
	form {
		padding-top: 30px;
		input {
			background: white;
			@include placeholder($blue-1);
			border: 1px $blue-1 solid;
			margin-bottom: 10px;
			width: 100%;
			color: $blue-1;
		}
		.row {
			width: 260px;
			position: relative;
			margin: auto;
			button {
				@include button(260px,
				55px);
			}
		}
	}
}


/*-------------------------------------------------------------*/

@media (min-width:1281px) {
	/*.header {
		background: black;
	}*/
}

@media (min-width:1081px) and (max-width:1280px) {
	.footer,
	.section,
	.header {
		min-width: 1080px;
	}
}

@media (min-width:769px) and (max-width:1080px) {
	.footer,
	.section,
	.header {
		min-width: 770px;
	}
}

@media (min-width:481px) and (max-width:768px) {
	.footer,
	.section,
	.header {
		min-width: 485px;
	}
}

@media (max-width:480px) {
	/*.footer,
	.section,
	.header {		
		min-width: 400px;
	}*/
}


/*---------------------------------------------------------------*/